@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/*GENERAL SETTINGS*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --beige: #C2A9A7;
    --green: #80A396;
    --red: #8a130fdc;  
    --black: #00000060;
}

body{
    background-color: var(--beige);
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--red);      
    border: 1px solid black; 
}

/*HEADER*/
nav{
    border: solid black 1px;
    display: flex;
    width: 99.8vw;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font: normal 30px 'Montserrat', sans-serif;
    color: black;
    margin-left: 30px;
    line-height: 37px;
    letter-spacing: 0.2em;
}

.logo:hover{
    color: var(--red);
    transition: .2s ease-in-out;
}

.links a{
    color: black;
    margin-right: 20px;
}

.links a:hover{
    color: var(--red);
    font-weight: 500;
    border-bottom: solid var(--green) 5px;
    transition: .2s ease-in-out;
}

/*CONTAINER*/
.container{
    display: flex;
    width: 99.8vw;
    height: 90vh;
}

/*TEXT*/
.txt{
    width: 90%;
    margin: auto 100px;
}

.txt h3{
    margin: 10px 0px 20px;
}

.txt .btn{
    background: var(--red);
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: solid black 1px;
    text-align: center;
    padding-top: 6px;
    font: 700 18px 'Montserrat', sans-serif;
    margin-top: 40px;
}

a .btn{
    color: black;
}

.txt .btn:hover{
    background-color: var(--green);
    color: var(--red);
    transition: ease-in .2s;
    cursor: pointer;
}

/*IMAGES*/
.imgs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 102%;
    
}

.art{
    border: solid black 1px;
    border-top: transparent;
    width: 100%;
    height: 50%;
    display: flex;
}

.art a{
    font: 700 18px 'Montserrat';
    color: black;
    background: var(--green);
    width: 100%;
    padding: 5px;
    align-self: flex-end;
}

.art a:hover{
    color: var(--red);
    padding: 10px;
    transition: ease-in .3s;
}

/*First*/
.inhotim{
    background: linear-gradient(var(--black), var(--black) 100%), url(assets/inhotim.jpg);
    background-size: cover;
    background-position: bottom;
}

/*Second*/
.cura{
    background: linear-gradient(var(--black), var(--black) 100%), url(assets/cura.jpg);
    background-size: cover;
}

/*Third*/
.ourop{
    background: linear-gradient(var(--black), var(--black) 100%), url(assets/ouro-preto.jpeg);
    background-size: cover;
    background-position: bottom;
}

/*SOCIAL MEDIA*/
.social{
    min-width: 5%;
    height: 102%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid black 1px;
    border-top: transparent;
}

.social a{
    margin-bottom: 25px;
    align-self: center;
    box-sizing: border-box;
    font-size: 2vw;
    color: black;
}

.social a:hover{
    color: var(--red);
}

/*MEDIA QUERIES*/
@media (max-width: 700px){
    .txt{
        width: 90%;
        margin: auto 5%;
    }

    .txt h1{
        font-size: 25px;
    }

    .txt h3{
        font: 600 16px 'Montserrat', sans-serif;
    }
}

@media (max-width: 480px){
    nav{
        height: 80px;
        flex-direction: column;
    }

    .links{
        margin: auto;
    }

    .social{
        display: none;
    }

    .container{
        border: solid black 1px;
        border-top: transparent;
        flex-direction: column;
        height: fit-content;
    }

    .txt{
        width: 80%;
        margin: 20px auto;
    }    

    .txt h1{
        font-size: 20px;
    }

    .txt h3, p{
        text-align: justify;
        font-size: 14px;
    }

    .txt .btn{
        margin-top: 20px;
        width: 100%;
    }

    .art{
        height: 300px;
        border: solid black 1px;
        border-left: transparent;
        border-bottom: transparent;
    }
}